@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jaro";
}

body{
    background-color: #212121;
    overflow: hidden;
}

header{
    background-color: #292929;
    padding: 0 15px;
    height:  55px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px rgba(0,0,0,0.3);
    position: relative;
    justify-content: left;
    gap: 200px;
}

header > h1{
    font-size: 1.3rem;
    font-weight: 700;
    color: aliceblue;
}
header > div{
    display: flex;
    gap: 50px;
}

.headerButtons{
    display: flex;
    width: 100px;
    height: 20px;
    cursor: pointer;
    background-color: #3a444e;
    color: #fff;
    border: none;
    padding: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: background-color 0.3s; /* transição suave */
}

.headerButtons:hover{
background-color: #4e5b67; /* cor ao passar o mouse */
}
.headerButtons:active{
background-color: #194f82; /* cor ao passar o mouse */
}

main{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.left-aside{
    display: flex;
    width: 100%;
    max-width: 250px;
    min-width: 250px;
    background-color: #2c2c2c;
    padding: 20px 20px;
    min-height: calc(100dvh - 55px);
    flex-direction: column;
    gap: 30px;

}

.scroll-container {
    position: relative;
    width: 1600px;
    height: 832px;
    overflow: scroll; 
    z-index: 0;
    direction: rtl;
    margin-top: 20px;  
}


.canvas-container {
    position: relative;
    width: 1984px;
    height: 832px;
}

.canvas-container-centered{
    position: fixed;
    top: 50px;
    left: 50px;
    width: 1800px;
    height: 800px;
    overflow: hidden; 
    z-index: 0;
    direction: rtl;
    margin-top: 20px;
}

.tileset, .animations, .background, .grid {
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 100%; 
    display: block; 
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar {
    width: 15px; 
    height: 15px; 
  }
  

  .scroll-container::-webkit-scrollbar-track {
    background-color: #3f3d3d; 
    border-radius: 10px; 
  }
  

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    background-color: #7e7b7b; 
  }
  
.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #696969; 
  }
  
.background {
    z-index:  0;
    background-color: #3a3f3d; 
}  

.tileset {
    z-index: 1; 
}

.grid {
    z-index:  2;

}
.animations {
    z-index:  3; 
}


.main-btn {
    background-color: #3a444e;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    transition: background-color 0.3s; /* transição suave */
}

.main-btn:hover{
background-color: #4e5b67; /* cor ao passar o mouse */
}
.main-btn:active{
background-color: #194f82; /* cor ao passar o mouse */
}

.dropdown{
    display: none;
}

.show {
    display: table-column;
}

.sub-btn {
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #2c2c2c;
    background-position: center;
    background-size: cover;
}

#dropdown-2 button{
    width: 90px;
    height: 90px;
}

#dropdown-3 button{
    width: 100px;
    height: 100px;
    background-size: 140px;
}

#dropdown-4 button{
    width: 100px;
    height: 100px;
    background-size: 140px;
}
#dropdown-5 button{
    width: 100px;
    height: 100px;
}



.right-aside {
    position: fixed;
    top: 55px;
    right: 0;
    width: 20px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: width 0.3s ease;
    gap: 20px;
}


.right-aside.expanded {
    width: 400px; 
}

#toggle-right-aside {
    background-color: #555;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    top: 0;
    height: 100vh; 
    color: white;
    transition: left 0.3s ease; 
}

.right-aside canvas {
    margin-top: -55px;
}



/* #ninjafrog-run{background-image: url("../../../public/assets/images/Main Characters/Ninja Frog/Jump (32x32).png");} */

#fruit-apple { background-image: url("../../../public/assets/images/Items/Fruits/Apple.png"); }
#fruit-bananas { background-image: url("../../../public/assets/images/Items/Fruits/Bananas.png"); }
#fruit-cherries { background-image: url("../../../public/assets/images/Items/Fruits/Cherries.png"); }
#fruit-kiwi { background-image: url("../../../public/assets/images/Items/Fruits/Kiwi.png"); }
#fruit-melon { background-image: url("../../../public/assets/images/Items/Fruits/Melon.png"); }
#fruit-orange { background-image: url("../../../public/assets/images/Items/Fruits/Orange.png"); }
#fruit-pineapple { background-image: url("../../../public/assets/images/Items/Fruits/Pineapple.png"); }
#fruit-strawberry { background-image: url("../../../public/assets/images/Items/Fruits/Strawberry.png"); }

/* #checkpoint-idle { background-image: url("../../../public/assets/images/Items/Checkpoints/Checkpoint/Checkpoint (Flag Idle)(64x64).png"); } */
#checkpoint-noflag { background-image: url("../../../public/assets/images/Items/Checkpoints/Checkpoint/Checkpoint (No Flag).png"); }

#end-idle{ background-image: url("../../../public/assets/images/Items/Checkpoints/End/End (Idle).png"); }
#start-idle { background-image: url("../../../public/assets/images/Items/Checkpoints/Start/Start (Idle).png"); }


#box1-idle{ background-image: url("../../../public/assets/images/Items/Boxes/Box1/Idle.png"); }
#box2-idle{ background-image: url("../../../public/assets/images/Items/Boxes/Box2/Idle.png"); }
#box3-idle{ background-image: url("../../../public/assets/images/Items/Boxes/Box3/Idle.png"); }

#block-idle { background-image: url("../../../public/assets/images/Traps/Blocks/Idle.png"); }

#platform-on { background-image: url("../../../public/assets/images/Traps/Falling Platforms/Off.png"); }

#fan-on { background-image: url("../../../public/assets/images/Traps/Fan/Off.png"); }

#saw-on { background-image: url("../../../public/assets/images/Traps/Saw/Off.png"); }

#spykes-idle { background-image: url("../../../public/assets/images/Traps/Spikes/Idle.png"); }

#trampoline-idle { background-image: url("../../../public/assets/images/Traps/Trampoline/Idle.png"); }

#spikedball-chained { background-image: url("../../../public/assets/images/Traps/Spiked Ball/Spiked Ball.png"); }



#Blue { background-image: url("../../../public/assets/images/Background/Blue.png"); }
#Brown { background-image: url("../../../public/assets/images/Background/Brown.png"); }
#Gray { background-image: url("../../../public/assets/images/Background/Gray.png"); }
#Green { background-image: url("../../../public/assets/images/Background/Green.png"); }
#Pink { background-image: url("../../../public/assets/images/Background/Pink.png"); }
#Purple { background-image: url("../../../public/assets/images/Background/Purple.png"); }
#yellow { background-image: url("../../../public/assets/images/Background/yellow.png"); }







.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  .modal-content {
    background: rgb(100, 99, 96);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
  }
  .modal-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-yes {
    background-color: #3a533b;
    color: white;
  }
  .btn-no {
    background-color: #6d4a47;
    color: white;
  }
  .btn-ok {
    background-color: #383858;
    color: white;
  }